{% extends 'base.html' %}

{% block content %}
  <h1>CPRA</h1>
<section class="content">
  <form method="post"  enctype=multipart/form-data>
    {% macro build_option(name, selected_att) -%}
    {% if name == selected_att %}
      <option value="{{ name }}" selected="selected">{{name}}</option>
    {% else %}
      <option value="{{ name }}">{{name}}</option>
    {% endif %}
    {%- endmacro %}

    <div>
      <label for="hpf_file">Select HPF file:</label>
      <input type=file id="hpf_file" name="hpf_file" value="{{hpf_file}}">
    </div>

    <br>

    <div>
        <label for="pop">Population:</label>
        <select name="pop" id="pop">
            {% for population in populations %}
                {{ build_option(population, pop) }}
            {% endfor %}
      </select>
    </div>

    <br>

    <div>
        <label for="string_input">Patient positive antigens:</label>
        <input type="text" id="string_input" name="string_input" value="{{string_input}}">
    </div>

    <br>

    <input type="submit" value="calculate">
  </form>

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>



  {% if images_names is defined %}
  <br>
  <button>
    <a href="/download-outputs">download</a>
  </button>
  <br>
  <body>
    <div class="row">
      <div class="column">
        <img src="{{ images_names[0] }}" style="width:110%">
      </div>
      <div class="column">
        <img src="{{ images_names[1] }}" style="width:110%">
      </div>
      <div class="column">
        <img src="{{ images_names[2] }}" style="width:110%">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img src="{{ images_names[3] }}" style="width:100%">
      </div>
      <div class="column">
        <img src="{{ images_names[4] }}" style="width:100%">
      </div>
      <div class="column">
        <img src="{{ images_names[5] }}" style="width:100%">
      </div>
    </div>
  </body>
  {% endif %}

</section>

{% endblock %}