{% extends 'base.html' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z8MJKC3L7C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z8MJKC3L7C');
</script>

{% block content %}
    <section class="content">
      <header>
          <br>
          <div class="big_text">
        <p>CPRA calculates the frequency of haplotypes without the given antigens in the wanted population.</p>
        <p>The antigens input should be in one of the following formats -</p>
          <p>1. CSV files with 3 first fields: Sample ID, Antigen, Assignment. Sample ID antigens can be divided into 2 or more files.<br>
                Assignment - ‘Positive’ or ‘Negative’ antigen(the negative antigens are optional, and may be ignored).<br>
                Can add files of more than one person at a time.</p>
          <p>2. Input string(field- Patient positive antigens): id; list of positive antigens separated by ','.</p>
          <p>In both formats, the antigens are in 4-digit format.</p>
          <p>In addition, select the desired population from the list.</p>
              <h2>Races:</h2>
              <div>
                  <table id="Races_Table" align="center">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                        <table class="race_table">
                        <tbody>
                        <tr>
                        <th width="85px"><strong>Race</strong></th>
                        <th><strong>Description</strong></th>
                        </tr>
                        </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr>
                    <td class="Race_Type"><strong>Israeli Races</strong></td>
                    <td>
                    <table class="race_table">
                    <tbody>
                    <tr>
                    <td width="85px"><strong>General_IL</strong></td>
                    <td>General Israeli Population</td>
                    </tr>
                    <tr>
                    <td><strong>Sephardi</strong></td>
                    <td>Marocco, Libya, Tunisia, Yemen, Iran, Iraq, Kurdistan, Algeria.</td>
                    </tr>
                    <tr>
                    <td><strong>Ashkenazi</strong></td>
                    <td>Israel, USA, Romania, Hungary, Poland, Russia, England, Gremany, Syria, France, Ashkenaz, Ukraine, Egypt, Turkey, Argentina, Uruguay, Bulgaria, Czech, Greece, Belarus, Austria, Spain, Lebanon, Netherlands, Canada, Lithuania, Brazil, Latvia, Switzerland, Moldova, South Africa, Italy, Yugoslavia, Belgium, New Zealand, Slovakia, Zimbabwe, Europe, Cyprus, Panama, Luxembourg, Slovenia, Mongolia, Iceland.</td>
                    </tr>
                    <tr>
                    <td><strong>Asian</strong></td>
                    <td>Georgia, Bukhara, Bedouin, India, Indian, Druze, Thailand, Philippines, Finland, Kirghizstan, Vietnam, Japan, Albania, Croatia, Pakistan, Tajikistan, Portugal, Cherkess, Korea, Guatemala, Bourma, Bolivia, Singapur, Macedonia, Liberia, Indonesia.</td>
                    </tr>
                    <tr>
                    <td><strong>Ethiopian</strong></td>
                    <td>Ethiopia</td>
                    </tr>
                    <tr>
                    <td><strong>Others</strong></td>
                    <td>Australia, Chile, Peru, China, Colombia, Kavkaz, Irland, Transilvenia, Scotland, Denmark, Mexico, Armenia, Azerbaijan, Kazakhstan, Norway, Arab, Uzbekistan, Mizrahi, Sweden, Afghanistan, Estonia, Serbia, South America, Sudan, Venezuela, Africa, Kuba, Equador, East Europe, Malta, Costa Rica, Nigeria, Other.</td>
                    </tr>
                    </tbody>
                    </table>
                    </td>
                    </tr>
                    <tr>
                    <td class="Race_Type"><strong>American Races</strong></td>
                    <td>
                    <table class="race_table">
                    <tbody>
                    <tr>
                    <td width="85px"><strong>AAFA</strong></td>
                    <td>African American</td>
                    </tr>
                    <tr>
                    <td><strong>AFB</strong></td>
                    <td>African</td>
                    </tr>
                    <tr>
                    <td><strong>AINDI</strong></td>
                    <td>South Asian</td>
                    </tr>
                    <tr>
                    <td><strong>AISC</strong></td>
                    <td>American Indian South or Central American</td>
                    </tr>
                    <tr>
                    <td><strong>ALANAM</strong></td>
                    <td>Alaska Native or Aleut</td>
                    </tr>
                    <tr>
                    <td><strong>AMIND</strong></td>
                    <td>North American Indian</td>
                    </tr>
                    <tr>
                    <td><strong>CARB</strong></td>
                    <td>Black Caribbean</td>
                    </tr>
                    <tr>
                    <td><strong>CARHIS</strong></td>
                    <td>Caribbean Hispanic</td>
                    </tr>
                    <tr>
                    <td><strong>CARIBI</strong></td>
                    <td>Caribbean Indian</td>
                    </tr>
                    <tr>
                    <td><strong>HAWI</strong></td>
                    <td>Hawaiian or other Pacific Islander</td>
                    </tr>
                    <tr>
                    <td><strong>FILII</strong></td>
                    <td>Filipino</td>
                    </tr>
                    <tr>
                    <td><strong>KORI</strong></td>
                    <td>Korean</td>
                    </tr>
                    <tr>
                    <td><strong>JAPI</strong></td>
                    <td>Japanese</td>
                    </tr>
                    <tr>
                    <td><strong>MSWHIS</strong></td>
                    <td>Mexican or Chicano</td>
                    </tr>
                    <tr>
                    <td><strong>MENAFC</strong></td>
                    <td>MidEast/No. Coast of Africa</td>
                    </tr>
                    <tr>
                    <td><strong>NCHI</strong></td>
                    <td>Chinese</td>
                    </tr>
                    <tr>
                    <td><strong>SCAHIS</strong></td>
                    <td>South/Cntrl Amer. Hisp.</td>
                    </tr>
                    <tr>
                    <td><strong>SCAMB</strong></td>
                    <td>Black South or Central America</td>
                    </tr>
                    <tr>
                    <td><strong>SCSEAI</strong></td>
                    <td>Other Southeast Asian</td>
                    </tr>
                    <tr>
                    <td><strong>VIET</strong></td>
                    <td>Vietnamese</td>
                    </tr>
                    <tr>
                    <td><strong>AFA</strong></td>
                    <td>African American, African, Black Caribbean,Black South or Central America</td>
                    </tr>
                    <tr>
                    <td><strong>API</strong></td>
                    <td>South Asian, Filipino, Hawaiian or other Pacific Islander, Japanese,Chinese, Other Southeast Asian, Vietnamese</td>
                    </tr>
                    <tr>
                    <td><strong>CAU</strong></td>
                    <td>European Caucasian, MidEast/No. Coast of Africa</td>
                    </tr>
                    <tr>
                    <td><strong>HIS</strong></td>
                    <td>Mexican or Chicano, South/Cntrl Amer. Hisp., Caribbean Hispanic</td>
                    </tr>
                    <tr>
                    <td><strong>NAM</strong></td>
                    <td>Caribbean Indian, North American Indian, American Indian South or Central American, Alaska Native or Aleut</td>
                    </tr>
                    </tbody>
                    </table>
                    </td>
                    </tr>
                    </tbody>
                </table>
              </div>
          </div>
      </header>
    </section>
{% endblock %}