{% extends 'base.html' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z8MJKC3L7C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z8MJKC3L7C');
</script>

{% block content %}
    <section class="content">
      <header>
          <br>
          <div class="big_text">
        <p>CPRA calculates the frequency of haplotypes without the given antigens in the wanted population.</p>
        <p>The antigens input should be in one of the following formats -</p>
          <p>1. CSV files with 3 first fields: Sample ID, Antigen, Assignment. Sample ID antigens can be divided into 2 or more files.<br>
                Assignment - ‘Positive’ or ‘Negative’ antigen(the negative antigens are optional, and may be ignored).<br>
                Can add files of more than one person at a time.</p>
          <p>2. Input string(field- Patient positive antigens): id; list of positive antigens separated by ','.</p>
          <p>In both formats, the antigens are in 4-digit format.</p>
          <p>In addition, select the desired population from the list.</p>
          </div>
      </header>
    </section>
{% endblock %}