{% extends 'base.html' %}

{% block content %}
  <h1>CPRA</h1>
<section class="content">
  <form method="post"  enctype=multipart/form-data>
    {% macro build_option(name, selected_att) -%}
    {% if name == selected_att %}
      <option value="{{ name }}" selected="selected">{{name}}</option>
    {% else %}
      <option value="{{ name }}">{{name}}</option>
    {% endif %}
    {%- endmacro %}

    <div>
      <label for="hpf_files">Select HPF file:</label>
      <input type=file id="hpf_files" name="hpf_files" multiple>
    </div>

    <br>

    <div>
        <label for="pop">Population:</label>
        <select name="pop" id="pop">
            {% for population in populations %}
                {{ build_option(population, pop) }}
            {% endfor %}
      </select>
    </div>

    <br>

    <div>
        <label for="string_input">Patient positive antigens:</label>
        <input type="text" id="string_input" name="string_input" value="{{string_input}}">
    </div>

    <br>

    <input type="submit" value="calculate">
  </form>

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>

<style>
    table, th, td {
      border: 1px solid black;
    }
</style>

  {% if output_lines is defined %}
      <br>
      {{ output_table }}
      <br>
      <button>
        <a href="/download-outputs">download</a>
      </button>
      <br>
  {% endif %}

</section>

{% endblock %}